body {
    font-size: 0;
  }
.content-container{
    width:200px;
    height:290px;
    display:flex;
    flex-direction: column;
    position:fixed;
    top:50%;
    left:50%;
    margin-top: -145px;
    margin-left: -100px;
    
}
.input-screen{
    background-color: black;
    color:white;
    font-size: 30px;
    height:40px;
    text-align: right;
}
.row{
    flex:1;
    display:flex;
}
button{
    width:25%;
    height:100%;
    margin:0px;
    padding:0px;
    border-radius:0;
    border:1px solid black;
}
.clear{
    width:50%;
    
}
.zero{
    width:75%;
}
.equals{
    width:25%;
}

.number{
   
}
.operator{
    background-color: orange;
    color:white;
   
}

